<h1>Divisas disponibles en la plataforma</h1>
<br>
<table class="table">
  <thead>
    <tr>
      <th>Symbol</th>
      <th>Name</th>
      <th>Symbol native</th>
      <th>decimal digits</th>
      <th>rounding</th>
      <th>code</th>
      <th>name plural</th>
      <th>countries</th>
    </tr>
  </thead>
  <tbody>
    <%@currencies_in_database.each do |currency|%>
      <tr>
        <td><%=currency.symbol%></td>
        <td><%=currency.name%></td>
        <td><%=currency.symbol_native%></td>
        <td><%=currency.decimal_digits%></td>
        <td><%=currency.rounding%></td>
        <td><%=currency.code%></td>
        <td><%=currency.name_plural%></td>
        <td><%=currency.countries%></td>
      </tr>
    <%end%>
  </tbody>
</table>

